<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <br><br><br>
    <label>Введите уравнение</label>
    <input type="text" id="expression" value="x+2"/><br>
    <button onclick=calculate()>Расчитать</button>
    <button onclick=drawGraph()>Построить график</button>
    <div id="container" style="width: 500px; height: 400px"></div>
</div>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function calculate() {
        const url = "http://localhost:8080/calculate";
        let expression = document.getElementById("expression").value;
        while (expression.includes(" ")) {
            expression = expression.replace(" ", "$");
        }
        axios.post(url, expression, "Content-type': 'application/json; charset=utf-8")
            .then(response => {
                alert(response.data);
            })
            .catch(error => {
                alert(error);
            });
    }
    function drawGraph() {
        const url = "http://localhost:8080/getPoints";
        let expression = document.getElementById("expression").value;
        while (expression.includes(" ")) {
            expression = expression.replace(" ", "$");
        }
        axios.post(url, expression, "Content-type': 'application/json; charset=utf-8")
            .then(response => {
                document.getElementById("container");
                const points = response.data;
                if (points == null) {
                    alert("Неправильный ввод");
                    return;
                }
                chart = anychart.line();
                let series = [];
                points.forEach((graps) => {
                    series.push(chart.line(graps));
                });
                //const series = chart.line(points);
                chart.container("container");
                chart.draw();
            })
            .catch(error => {
                alert(error);
            });
    }
</script>
</body>
</html>
